name: Tests

on:
    pull_request:
        paths-ignore:
            - '**.md'
            - '**.yml'
    push:
        branches:
            - master
        paths-ignore:
            - '**.md'
            - '**.yml'

jobs:
    testing:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v2

            - name: Install required Node.js version
              uses: actions/setup-node@v2
              with:
                  node-version: '14.5.0'

            - name: Npm install
              run: npm i

            - name: Node lint
              run: npm run lint

            - name: Node test
              env:
                  NODE_ENV: test

              run: npm run test
